body {
    background: #f4f4f4;
}

.header {
    width: 100%;
    background: #fff;
}

.header .header-wrap {
    height: 78px;
    width: 1006px;
    margin: 0 auto;
    line-height: 78px;
}

.header-wrap ul {
    float: right;
}

.header-wrap ul li {
    float: left;
}

.header-wrap ul li a {
    display: block;
    height: 100%;
    padding: 0 25px;
    font-size: 16px;
    font-weight: bold;
}

.on {
    color: #ff3434;
    border-bottom: 2px solid #ff3434;
}

.cont-wrap > div {
    float: left;
}

.cont-wrap {
    width: 1006px;
    margin: 15px auto;
}

.cont-wrap .left {
    width: 410px;
    height: 172px;
    background: #fff;
    float: left;
}

.cont-wrap .txt {
    height: 120px;
    line-height: 60px;
    vertical-align: middle;
    margin-top: 26px;
    background: url("../images/index_toux.png") no-repeat 20px center;
    text-align: center;
}

.cont-wrap .mid .txt, .cont-wrap .right .txt {
    background-image: none;
}

.cont-wrap .mid {
    width: 240px;
    height: 172px;
    background: #fff;
    float: left;
    margin-left: 14px;
}

.cont-wrap .right {
    width: 340px;
    height: 172px;
    float: right;
    background: #fff;
    box-sizing: border-box;
    border-right: 2px solid #f4f4f4;
}

.recharge, .uncharge, .mycard, .payList, .qbb, .qeb, .realmoneys, .yhcard {
    float: left;
    width: 326px;
    height: 172px;
    background: #fff;
    margin-top: 14px;
}

.recharge .txt {
    background: url("../images/recharge11.png") no-repeat 20px center;
}

.cont-wrap .tradeTrace,.console .tradeTrace {
    width: 100%;
    margin: 20px auto;
    text-indent: 16px;
}

.cont-wrap .tradeTrace .allTogethor {
    background: #F8F8F8;
    height: 48px;
    line-height: 48px;
}

.cont-wrap .tradeTrace .allTogethor a {
    float: right;
    margin-right: 16px;
}

.cont-wrap .tradeTrace ul li,.console .tradeTrace ul li {
    height: 48px;
    line-height: 48px;
    background: #FFFFFF;
}

.cont-wrap .tradeTrace ul li span,.console .tradeTrace ul li span {
    display: inline-block;
    width: 190px;
}

.cont-wrap .tradeTrace ul li span:last-child ,.console .tradeTrace ul li span:last-child{
    float: right;
    margin-right: 16px;
    text-align: right;
}

.cont-wrap .tradeTrace ul li span:nth-child(4),.console .tradeTrace ul li span:nth-child(4) {
    text-align: right;
}

.rechargeviews ,.bindcardviews,.safeview,.console{
    width: 1006px;
    margin: 0 auto;
}

.rechargeviews .firstrow, .bindcardviews .firstrow, .safeview .firstrow,.console .firstrow,.rechargesuc .firstrow{
    height: 45px;
    line-height: 45px;
}

.rechargeviews .cont, .bindcardviews .cont, .safeview .cont,.console .cont {
    background: #fff;
}

.rechargeviews table td, .bindcardviews table td, .safeview table td {
    height: 42px;
}

.realmoneys {
    width: 338px;
    box-sizing: border-box;
    border-left: 2px solid #f4f4f4;
}

.realmoneys .txt {
    background: url("../images/TX.png") no-repeat 20px center;
}

.left .txt p:nth-child(1), .realmoneys .txt p:nth-child(1), .yhcard .txt p:nth-child(1), .recharge .txt p:nth-child(1) {
    font-size: 24px;
    font-weight: bold;
    font-family: '微软雅黑';
}

.yhcard .txt p:nth-child(1) {
    text-indent: 20px;
}

.realmoneys .txt p:nth-child(2), .yhcard .txt p:nth-child(2), .recharge .txt p:nth-child(2) {
    line-height: 20px;
    width: 160px;
    margin: 0 auto;
    padding-left: 60px;
    text-align: start;
}

.real {
    width: 1006px;
    margin: 0 auto;
}

.real .top {
    height: 40px;
    line-height: 40px;
}

.real .cont {
    background: #fff;
}

.real .cont .form {
    display: block;
    margin: 0 auto;
    padding-left: 242px;
    padding-top: 20px;
}

.real .cont .form table tr td {
    padding-top: 20px;
    padding-bottom: 20px;
}

.real .cont .form input {
    width: 320px;
    height: 34px;
}

.yhcard {
    float: right;
    width: 340px;
}

.yhcard .txt {
    background: url("../images/BINDcard.png") no-repeat 20px center;
}
.bindcardviews .waylist{
    height: 120px;
    background: #fff;
    border-bottom: 1px solid #f4f4f4;
}
.tright{
    text-align: right
}
.bselect{
    width: 326px;height: 32px;
}
.tcenter{
    text-align: center;
}
.w326{
    width: 326px;
}
.h30{
    height:30px;
}
.next-way{
    height: 30px;
    line-height: 30px;
    background: #FF4431;
    color: #fff;
    border: none;
    width: 100px;
    display: inline-block;
    margin-top: 30px;
}
#yzm{
    width: 326px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#num{
    width: 326px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ngshow{
    height: 42px;
    width: 130px;
}
.rechargeviews table .td1{
    width: 326px;
    height: 80px;
    margin-top: 40px;
    background: url(../images/bao.png) no-repeat 25px 15px;
}
.rechargeviews table .td2{
    width: 326px;
    height: 80px;
    background: url(../images/icbc.png) no-repeat 25px 15px;
}
.pl60{
    padding-left: 60px;
}
.num2{
    width: 326px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.h42w130{
    height: 42px;
    width: 130px;
}
.red{
    color: #FF2020;
}
.getyzm{
    color: #fff;
    background: #00B7EE;
    display: block;
    height: 36px;
    line-height: 36px;
    border-radius: 3px;
}
.w130{
    width: 130px;
}
#charge{
    background: red;
    color: #fff;
    border: none;
    border-radius: 3px;
    height: 34px;
}
.ryzm{
    width: 326px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pb0{
    padding-bottom: 0;
}
.real .cont .form table tr .feerate{
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
}
.blue{
    color: #0000fa
}
.pt5{
    padding-top: 5px;
}
#txtx{
    color: #fff;
    background: #FF4431;
    border: none;
    width: 60px;
    height: 30px;
    display: block;
    line-height: 30px;
    font-size:17px;
}
/**/

.loginview .cont{
    width: 1006px;
    margin: 0 auto;
    background: #fff;
    height: 700px;
    padding-top:120px;
}
.loginview .header{
    width: 1006px;
    margin: 0 auto;
    height: 48px;
    line-height: 48px;
    background: #f4f4f4;
}
.loginview  table td{
    height: 48px;
    text-align: center;
}
.loginview input{
    height: 30px;
    width: 300px;
}
.loginview .log,.loginview .regist{
    height: 35px;
    background: #3F89EC;
    border: none;
    color: #fff;
    font:18px/35px "微软雅黑";
    cursor: pointer;
}
.loginview .regist{
    background:#FF2020 ;
}
.loginview .uname,.loginview .pwd{
    width: 300px;
    height: 38px;
}
.fpsw{
    text-align: right;
    vertical-align: top;
}
/**/
.td3{
    text-align: right;
    vertical-align: bottom;
    padding-bottom: 10px;
}
#idnum{
    width: 326px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 0;
}
.h20{
    height: 20px;
}
.paracont{
    color: #fff;
    background: #00B7EE;
    display: block;
    height: 36px;
    line-height: 36px;
    border-radius: 3px;
}
#psd{
    text-align: right;
    vertical-align: bottom;
    padding-bottom: 10px;
}
.num3{
    width: 326px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#psw,#cpsw{
    width: 326px;
    height: 30px;
    margin-top: 20px;
}
.cpsw{
    text-align: right;
    vertical-align: bottom;
    padding-bottom: 10px;
}
.ssubmit{
    height: 30px;
    background: #FF4431;
    color: #fff;
    border: none;
    width: 100px;
    display: inline-block;
    margin-top: 30px;
}





