<div class="bindcardviews">
    <div class="firstrow">
        <span>我的钱包</span><span>></span><span>我的银行卡</span>
    </div>
    <div class="waylist">
    </div>
    <div class="cont">
        <ng-form action="" name="bindcardform">
            <table align="center">
                <tr>
                    <td style="text-align: right">真实姓名：</td>
                    <td><span>刘浩</span></td>
                </tr>
                <tr>
                    <td>身份证号码：</td>
                    <td>{{identity | hidee}}</td>
                </tr>
                <tr>
                    <td  class="tright">银行卡号：</td>
                    <td><input type="text" name="num" id="num" ng-model="user.num" pattern="^(\d{16}|\d{19})$"  placeholder="请输入银行卡号" required/></td>
                    <td class="ngshow">
                        <span style="color: red" class="alert alert-danger" ng-show="bindcardform.num.$error.required">请输入卡号!</span>
                        <span style="color: red" class="alert alert-danger" ng-show="bindcardform.num.$error.pattern">请输入正确的卡号!</span>
                    </td>
                </tr>
                <tr>
                    <td class="tright">开户银行：</td>
                    <td>
                        <select  class="bselect">
                            <option value="0">自动选择</option>
                            <option value="1">ICBC</option>
                            <option value="2">ABC</option>
                            <option value="3">CCB</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="tright">手机号码：</td>
                    <td><input type="text" id="yzm" name="yzm" ng-model="user.yzm"/></td>
                    <td></td>
                </tr>
                <tr>
                    <td  class="tright">地址：</td>
                    <td  class="tcenter w326">
                        <select name="" class="link1">
                            <option value="0">请选择省份：</option>
                        </select>
                        <select name="" class="link2">
                            <option value="0">请选择城市：</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td  class="tcenter w326 h30">
                        <a href="javascript:;" class="next-way">下一步</a>
                    </td>
                </tr>
            </table>
        </ng-form>
    </div>
</div>