<div class="loginview">

        <div class="header">
            <p><span>我的钱包</span><span>></span><span>登录</span></p>
        </div>
    <div class="cont">
        <center>
            <table>
                <tr>
                    <td><input type="text" id="uname" class="uname" placeholder="用户名/电话号码/邮箱地址"/></td>
                </tr>
                <tr>
                    <td><input type="password" id="pwd" class="pwd" placeholder="密码"/></td>
                </tr>
                <tr>
                   <td><input type="submit" value="登录" id="submit" class="log"/></td>
                </tr>
                <tr>
                    <td><input type="button" value="注册" class="regist" /></td>
                </tr>
                <tr>
                    <td style="text-align: right;vertical-align: top"><a href="#" style="">忘记密码？</a></td>
                </tr>
            </table>
        </center>

    </div>

</div>