<div class="container payindex">
    <div class="payindex_head">
        <p class="payindex_a">我的钱包 <i>>充值</i></p>
    </div>
    <div class="payindex_cont">
        <ng-form name="myForm">
            <div class="myform">
                <div class="payindex_cs  clearFix">
                    <p>选择支付方式：</p>
                   <div class="payindex_gt">
                       <div class="payindex_one">
                           <input type="radio"  name="myid" ng-model="user.myid"   required/>
                           <img src="images/jd.png" alt=""/>
                           <span>京东钱包支付</span>
                       </div>
                       <div class="payindex_one">
                           <input type="radio"  name="myid" ng-model="user.myid"  required/>
                           <img src="images/CCB.png" alt=""/>
                           <span style="line-height: 0">中国建设银行</span>

                       </div>
                   </div>

                <p  class="alert"  ng-show="myForm.myid.$error.pattern">
                    *请选择支付方式
                </p>
            </div>

            <div class="sc clearFix payindex_sc">
                <label>充值金额：</label>
                <input type="text" ng-model="mobile" name="momony" pattern="^-?[1-9]\d*$"/>
                <span  class="alert num"  ng-show="myForm.momony.$error.pattern">
                    *请填写数字
                </span>
                <span class="payindex_alert"  >
                    <img src="images/ady_failure.png" alt="" ng-click="imgclick()"/>
                    <span>金额不能为空</span>
                </span>
            </div>

            <div class="sc clearFix payindex_sc">
                <label>手机号码：</label>
                <input type="text" class="yanzheng" placeholder="186***1343" required/>
                <a class="check" href="javascript:" ng-click="clicktime()" ng-class="paraclass" ng-bind="paracont">获取验证码</a>

            </div>
            <div class="sc clearFix payindex_sc">
                <label>验证码：</label>
                <input type="text" class="test"/>
            </div>

               <div class="myform_bottom" ng-click="getVerifyCode()">
                   <input type="submit" class="payindex_check"  value="确认支付">
               </div>
            </div>

        </ng-form>
        
    </div>
    
    
    <a href="#paysuccess">
        <div>点我可以进入下一个页面</div>
        <p>{{paymymo}}</p>
    </a>
</div>