<div>
    <div class="indexProperty clearFix">
        <div class="indexPropertyLeft">
            <div class="indexPropertyLeftTx">
                <img src="images/web/index_toux.png" alt=""/>
            </div>
            <div class="indexPropertyLeftText">
                <p>Hi
                    <a href="javascript:;" class="ng-binding">{{username}}</a>
                </p>
                <p>欢迎进入天融钱包</p>
            </div>
        </div>
        <ul class="indexPropertyRight">
            <li style="height: 64px">我的总资产</li>
            <li>
                <p>￥<span class="eyeBlock" title="">{{money}}</span></p>
            </li>
        </ul>
        <ul class="indexPropertyRight noBorder">
            <li>
                <p>可用余额:</p>
                <p>￥<span class="eyeBlock eyeBlock1" title="" style="">{{symoney}}</span></p>
            </li>
            <li>
                <p>冻结金额:</p>
                <p>￥<span class="eyeBlock eyeBlock1" title="">{{djmoney}}</span></p>
            </li>
        </ul>
        <div class="eye">
            <a ng-click="clickeye()" class="eyeBtn"></a>
        </div>
    </div>
    <div class="gxarea clearFix">

        <a href="#payindex" ng-show="s1" class="pay clearFix">
            <div class="indexPropertyLeftTx">
                <img src="images/web/index_cz.png" alt=""/>
            </div>
            <div class="g1 g2">
                <p class="chongzhi">充值</p>
                <p class="bank">余额不足了，快来充值吧！</p>
            </div>
        </a>

        <a href="#outindex" ng-show="s2" class="pay space clearFix">
            <div class="indexPropertyLeftTx">
                <img src="images/web/index_tx.png" alt=""/>
            </div>
            <div class="g1 a2">
                <p class="chongzhi">提现</p>
                <p class="bank">当想使用现金时，可用把余额里面的钱提到银行卡里哦！</p>
            </div>
        </a>


        <a href="#bankindex" ng-show="s3" class="pay clearFix">
            <div class="indexPropertyLeftTx">
                <img src="images/web/index_yxk.jpg" alt=""/>
            </div>
            <div class="g1 a2">
                <p class="chongzhi">我的银行卡</p>
                <p class="bank">进入我的银行卡，可进行银行卡管理哦！</p>
            </div>
        </a>
    </div>

    <div class="gxarea clearFix">

        <a href="#orderindex" ng-show="s4" class="pay clearFix">
            <div class="indexPropertyLeftTx">
                <img src="images/web/index_jycx.jpg" alt=""/>
            </div>
            <div class="g1 g2">
                <p class="chongzhi">账单</p>
                <p class="bank">交易信息查询，可以查询到你充值提现的所有交易信息。</p>
            </div>
        </a>

        <a href="#qibangbi" ng-show="s5" class="pay space clearFix">
            <div class="indexPropertyLeftTx">
                <img src="images/web/index_qbb.jpg" alt=""/>
            </div>
            <div class="g1 a2">
                <p class="chongzhi">企帮币</p>
                <p class="bank">赶快查看您的企帮币交易记录吧！</p>
            </div>
        </a>


        <a href="#tianrongbi" ng-show="s6" class="pay clearFix">
            <div class="indexPropertyLeftTx">
                <img src="images/web/index_trb.jpg" alt=""/>
            </div>
            <div class="g1 a2">
                <p class="chongzhi">天融币</p>
                <p class="bank">天融币和关爱币的比例是1:1，赶快兑换成关爱币吧！</p>
            </div>
        </a>
    </div>

    <div class="indexBottom">
        <div class="indexBottomTop">
            <p>近期交易记录</p>
            <a href="#select">查看更多</a>
        </div>
        <div class="indexBottomBottom">
            <div class="listTitle clearFix">
                <ul class="clearFix">
                    <li class="time">交易时间</li>
                    <li class="name">名称</li>
                    <li class="orderNum">订单</li>
                    <li class="moneyNum">交易金额</li>
                    <li class="status">状态</li>
                </ul>
            </div>
            <div class="dealBottomBottom2">
                <div class="listTitle">
                <div class="noRecord">
                    <ul ng-repeat="jl in jls" style="border-bottom: 1px solid rgb(236, 235, 235);">
                        <li class="time">{{jl.time}}</li>
                        <li class="name">{{jl.name}}</li>
                        <li class="orderNum">{{jl.ddnum}}</li>
                        <li class="moneyNum">{{jl.moremoney}}</li>
                        <li class="status">{{jl.status}}</li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>