<div class="real">
    <div class="top">
        <p><span>我的钱包</span><span>></span><span>提现</span></p>
    </div>
    <div class="cont">
        <ng-form action="" name="realform" class="form">
            <table>
                <tr>
                    <td class="tright">余额：</td>
                    <td class="red">{{all|currency:'￥'}}</td>
                </tr>
                <tr>
                    <td class="tright">银行卡：</td>
                    <td><img src="images/card.png" data-list="{{incountNum}}" id="incountNum"/></td>
                </tr>
                <tr>
                    <td class="tright">提现金额：</td>
                    <td><input type="text" name="realnum" id="realnum" ng-model="realnum" pattern="^[1-9]\d{0,7}$" required/></td>
                    <td class="alert" ng-show="realform.realnum.$error.pattern"><span class="red">请输入正确的金额!</span></td>
                    <td class="alert" ng-show="realform.realnum.$error.required"><span class="red">请输入金额!</span></td>
                </tr>
                <tr>
                    <td class="tright">手续费：</td>
                    <td><input type="text" value="{{fee}}" id="tipFee" disabled/></td>
                </tr>
                <tr>
                    <td class="tright pb0" >实际到账：</td>
                    <td class="pb0"><input type="text" name="real.arrived" id="realarrived" disabled/></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="feerate"><a href="" class="blue">提现费率介绍</a></td>
                </tr>
                <tr>
                    <td  class="tright pt5">交易密码：</td>
                    <td class="pt5"><input type="password" name="real.password" id="realpassword"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td align="center"><a href="javascript:;"  id="txtx">提交</a></td>
                </tr>
            </table>
        </ng-form>
    </div>
</div>