<div class="rechargeviews">
    <div class="firstrow">
        <span>我的钱包</span><span></span><span>充值</span>
    </div>
    <div class="cont">
        <ng-form action="" name="rechargeform">
            <table align="center">
                <tr>
                    <td style="text-align: right">选择支付方式:</td>
                    <td  class="td1">
                        <input type="radio" name="way" id="jd" ng-model="user.way"/><label for="jd" class="pl60">京东钱包支付</label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td  class="td2"><input  type="radio" name="way" id="icbc"/><label for="icbc" class="pl60">中国建设银行</label></td>
                </tr>
                <tr>
                    <td class="tright">充值金额:</td>
                    <td><input type="text" name="num" id="num" ng-model="user.num" class="num2" ng-value="{{num}}" pattern="^[1-9]\d{0,7}$" required/></td>
                    <td class="alert h42w130" ng-show="rechargeform.num.$error.pattern"><span class="red">请输入正确的金额!</span></td>
                    <td class="alert h42w130" ng-show="rechargeform.num.$error.required "><span class="red">请输入金额!</span></td>
                </tr>
                <tr>
                    <td style="text-align: right">手机号码:</td>
                    <td><input type="text" id="phone" name="phone" ng-model="user.phone" class="w326 h30"/></td>
                    <td class="tcenter w130"><a href='javascript:;' class="getyzm">获取验证码</a>
                    </td>
                </tr>
                <tr>
                    <td class="tright">验证码:</td>
                    <td><input type="text" id="yzm" name="yzm" ng-model="user.yzm" class="ryzm"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="w326 tcenter"><button id="charge">确认支付</button>
                    </td>
                </tr>
            </table>
        </ng-form>
    </div>
</div>