<div class="safeview">
    <div class="firstrow">
        <span>我的钱包</span><span>></span><span>设置交易密码</span>
    </div>
    <div class="cont">
        <ng-form action="" name="safeform">
            <table align="center">
                <tr>
                    <td style="text-align: right">身份证号：</td>
                    <td><input type="text" name="idnum" id="idnum" ng-model="user.idnum"
                               style="width: 326px;height: 30px;margin-top: 20px;margin-bottom: 20px;"/></td>
                </tr>
                <tr>
                    <td style="text-align: right">手机号码：</td>
                    <td>{{identity | hidee}}</td>
                    <td style="width: 130px;text-align: center"><a href='#'
                                                                   style="color: #fff;background: #00B7EE;display: block;height: 36px;line-height: 36px;border-radius: 3px;">获取验证码</a>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">验证码：</td>
                    <td><input type="text" name="num" id="num" ng-model="user.num"
                               style="width: 326px;height: 30px;margin-top: 20px;margin-bottom: 20px;"/></td>
                </tr>
                <tr>
                    <td style="text-align: right">交易密码：</td>
                    <td>
                        <input type="text" name="psw" id="psw" ng-model="user.psw"
                               style="width: 326px;height: 30px;margin-top: 20px;margin-bottom: 20px;"/>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">确认交易密码：</td>
                    <td><input type="text" id="cpsw" name="cpsw" ng-model="user.cpsw"
                               style="width: 326px;height: 30px;margin-top: 20px;margin-bottom: 20px;"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td style="width: 326px;height: 30px;text-align: center;"><input type="submit" value="下一步"
                                                                                     style="height: 30px;background: #FF4431;color: #fff;border: none;width: 100px;display: inline-block;margin-top: 30px;"/>
                    </td>
                </tr>
            </table>
        </ng-form>
    </div>
</div>