<div class="container">
    <div class="safety_top">
        <a href="#" class="center selectmid">
            交易查询
        </a>
    </div>
    <div class="select_cont">
        <div class="select_contin clearFix">
          <span class="select_order">
                <span>订单号</span>
                <input type="text"/>
          </span>
            <span class="select_name">
                <span>名称</span>
                <input type="text"/>
          </span>
          <span class="select_status">
                <span>状态</span>
                <select name="" id="">
                    <option value="">成功</option>
                    <option value="">失败</option>
                </select>
          </span>
          <span class="select_select">查询</span>
        </div>
    </div>
</div>
<div class="indexBottom select_bo">
    <div class="indexBottomBottom">
        <div class="listTitle clearFix">
            <ul class="clearFix">
                <li class="time">交易时间</li>
                <li class="name">名称</li>
                <li class="orderNum">订单</li>
                <li class="moneyNum">交易金额</li>
                <li class="status">状态</li>
            </ul>
        </div>
        <div class="dealBottomBottom2">
            <div class="listTitle">
                <div class="noRecord clearFix">
                    <ul ng-repeat="jl in jls" style="border-bottom: 1px solid rgb(236, 235, 235);">
                        <li class="time">{{jl.time}}</li>
                        <li class="name">{{jl.name}}</li>
                        <li class="orderNum">{{jl.ddnum}}</li>
                        <li class="moneyNum">{{jl.moremoney}}</li>
                        <li class="status">{{jl.status}}</li>
                    </ul>
                    <ul ng-repeat="jl in jls" style="border-bottom: 1px solid rgb(236, 235, 235);">
                        <li class="time">{{jl.time}}</li>
                        <li class="name">{{jl.name}}</li>
                        <li class="orderNum">{{jl.ddnum}}</li>
                        <li class="moneyNum">{{jl.moremoney}}</li>
                        <li class="status">{{jl.status}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

